.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.confirmed {
  /* color: #1c1c1c; */
  color: red;
  border: 1px solid;
  margin-top: 1px;
}
.recovered {
  color: #28a745;
  border: 1px solid;
  margin-top: 1px;
}
.active {
  color: #007bff;
  border: 1px solid;
  margin-top: 1px;
}
.deceased {
  color: #9a9a9a;
}
.deaths {
  color: #9a9a9a;
  border: 1px solid;
  margin-top: 1px;
}
.state .active {
  padding: 10px;
}
.state .confirmed {
  padding: 10px;
}
.state .recovered {
  padding: 10px;
}
.state .deaths {
  padding: 10px;
}
.covid {
  font-size: x-large;
  color: red;
}
.govt {
  font-size: small;
}
.dash {
  font-size: large;
}
li {
  list-style: none;
  /* border: 1px solid #ddd; */
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding-bottom: 6px;
}
li:hover {
  background-color: #ddd;
  color: #000;
}
/* .theme-red {
  border: 1px solid #000;
  margin: 2px;
  padding: 2px;
  background-color: red;
  color: #fff;
  cursor: pointer;
} */
.theme-yellow {
  /* border: 1px solid #000; */
  margin: 2px;
  padding: 10px;
  background-color: yellow;
  color: #000;
  cursor: pointer;
}
.theme-yellow:hover {
  background-color: #ddd;
  color: #000;
}
.theme-white {
  /* border: 1px solid #000; */
  margin: 2px;
  padding: 10px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.theme-white:hover {
  background-color: #ddd;
}
.theme-black {
  /* border: 1px solid #000; */
  margin: 2px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.theme-black:hover {
  background-color: #ddd;
  color: #000;
}
.icon {
  font-size: x-large;
  margin-top: 5px;
}
.blink {
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: red;
    background-color: red;
    border-radius: 50%;
    font-size: 10px;
  }
  49% {
    color: red;
    background-color: red;
    border-radius: 50%;
    font-size: 10px;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: red;
    border-radius: 50%;
    font-size: 10px;
  }
}
.set {
  width: 110px;
  height: 475px;
  overflow: scroll;
  color: red;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #06dee1, #79ff6c);
  border-radius: 3px;
}
/* td {
  color: #fff;
} */
/* .leftSideBar {
  height: 450px;
  overflow: scroll;
} */
.addconf {
  color: #ddd;
}
